<div calss="clo">
<div class="brands_products"><!--brands_products-->
            <h2>Compte</h2>
            <div class="brands-name">
              <ul class="nav nav-pills nav-stacked">

                  <li>
                      <a href="{{ path('fos_user_profile_show') }}">Mes informations</a>
                  </li>
                  <li>
                      <a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a>
                  </li>
                  <li>
                      <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
                  </li>
                  <li>
                      <a href="{{ path('factures') }}">Mes factures</a>
                  </li>
                  <li>
                      <a href="#">Mes adresses</a>
                  </li>
                  <li>
                      <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
                  </li>
              </ul>
            </div>
          </div><!--/brands_products-->
</div>
