{% extends "::layout/layout.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
        {% include '::modulesUsed/navigation.html.twig' %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
        {% else %}
            {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}
        {% endif %}
        {% render(controller('EcommerceBundle:Panier:menu')) %}
    </div>
    </div>

<div class="col-sm-9">
  {% if produits|length != 0 %}
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
            {% for produit in produits %}
						<div class="span3">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src={{ produit.image.path}} alt="" />
										<h2>{{ produit.prix}} €</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>{{ produit.prix}} €</h2>
											<p>Easy Polo Black Edition</p>
											<a href="{{ path('ajouter', { 'id' : produit.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
										</div>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="{{ path('presentation', { 'id' : produit.id }) }}"><i class="fa fa-plus-square"></i>Plus d'infos</a></li>
										<li><a href="{{ path('panier') }}"><i class="fa fa-plus-square"></i>Ajouter au panier</a></li>
									</ul>
								</div>
							</div>
						</div>
            {% endfor %}
			</div>


              <div class="navigation">
                  {{ knp_pagination_render(produits) }}
              </div>

          {% else %}
              Aucun produit
          {% endif %}
					</div><!--features_items-->
				</div>
        </div>
        </div>
{% endblock %}
